__pycache__
env
.mypy_cache
timeline/
Portfolio.drawio
.DS_Store
apikey.txt
src/portfolio.json.bak
portfolio.json.bak
src/main_legacy.py
legacy/
Datatesting.ipynb
.mypy_cache/
.ipynb_checkpoints
src/utils.py.bak
.idea